<!-- {% load static %} -->

<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="static/style.css" />
<link rel="stylesheet" href="static/Adelle/Adelle_Reg.otf">
<script src="static/jquery.js" type="text/javascript"></script>
<script src="static/core.js" type="text/javascript"></script>
<script src="static/jquery-ui.js" type="text/javascript"></script>

<html>
<!-- HELLO -->
<body class="fade-in">
<div scrolls scrolls-duration="1200" class="page section custom-full1" id="section1">
<h1 class="fade-in">Hello, my name is Drew.</h1>
<!-- {% load static %}  -->
<img src="static/images/awkward-drew.jpg" class = "fade-out" value="https://www.linkedin.com/in/drew-piispanen-a22511a8/"/><br>
<p class="tiny slow-fade">(My friends call me Andrew, Drew, Piispo, or even Doug.)</p>
<p>I’m a scrappy, energetic, slightly-scatterbrained entrepreneur from Boston, MA who now lives close to Central PA. 
    I'm a graduate of Babson College, Class of 2018 and an incoming graduate student at UC Berkeley where I'll be working part-time towards a Masters in Data Science.</p>
</div>

<!-- COMPANIES -->
<div scrolls scrolls-duration="1200" class="page section custom-full1" id="section2">
<h2>I’ve helped to start a couple of companies in my time on this planet – one of which was a big old failure.</h2> 
<p class="tiny slow-fade">(I regret nothing.)</p>
<p class = "fade-out" value="http://directmachines.com">Direct Machines</p><p class = "fade-out" value="https://www.babson.edu/entrepreneurship-center/startup-incubation/john-e-and-alice-l-butler-launch-pad/fast-track-cohort/2020-fast-track-cohort-ventures/#pruve">Pruve</p>
</div>

<!-- CAREER / JOBS -->
<div scrolls scrolls-duration="1200" class="page section custom-full1" id="section3">
<h2>But as they say - with failure, comes success. As a result, I‘ve kept up a decent range of places that I've worked.</h2>
<p class="tiny slow-fade">(Internships included AIG, Performance Motion Devices, Accorin and shoveling rat dung out of attics in high school)</p>
<ul class="achievements">
<li><div class="year">2018</div><div class="description">Graduated Babson. Became a Data Analyst for Skipping Stone</div></li>
<li><div class="year">2020</div><div class="description">Left SS to grow our family business by launching Direct Machines</div></li>
<li><div class="year">2021</div><div class="description">Shifted from DM to join Wayfair in Partner Operations</div></li>
<li><div class="year">2022</div><div class="description">Jumped onboard Cann to run their supply chain</div></li>
</ul>
</div>


<!-- PERSONAL PROJECTS -->
<div scrolls scrolls-duration="1200" class="page section custom-full1" id="section4">
<h2>While I keep myself busy, on the weekends I like to pursue personal projects.</h2>

<p class="show-more" value="biohacker">Biohacker Project</p>
<div id="biohacker" class="hidden">
<p class="tiny">A mood tracker, logging my mood daily and combining it with phone and personal data. <br>(Turns out I'm pretty cranky most days)</p>
<p class = "fade-out" value="https://github.com/apiispanen/biohacker">Github Repo</p>
<p class = "fade-out" value="https://apiispanen-biohacker-stream-gtgyag.streamlitapp.com/">Streamlit Webapp</p>
<p class = "fade-out" value="https://medium.com/@andrewpiispanen/solutions-to-a-broken-mind-200ea7ac1598">Medium Post</p>
</div>

<p class = "show-more" value="coding">Berkeley Bootcamp Repos</p>
<div id="coding" class="hidden">
<p class="tiny">Although I'm now attending grad school there for 2 years, I did have a lot of cool projects that I undertook while at their 6-month bootcamp.</p>
<p class = "fade-out" value="https://github.com/erinrkahn/final_project">Major Wildfire Predictors (Final Project)</p>
<p class = "fade-out" value="https://github.com/apiispanen/Neural_Network_Charity_Analysis">Neural Network Analysis</p>
<p class = "fade-out" value="https://github.com/apiispanen/MechaCar_Statistical_Analysis">Linear Regression Modeling</p>
</div>


<p class="show-more" value="skills">My General Skills</p><p class="tiny">(Click to see list)</p>

<!-- SKILLS AND CERTS -->    
<div id="skills" class="hidden">
<ul id="skills" class="achievements">
    <li>Python<p class="tiny">Please, ask me about Webscraping.</p></li>
    <li>Tableau<p class="tiny">Drag and drop analytics? Done.</p></li>
    <li>SQL <p class="tiny">Wordpress DBs were my specialty.</p></li>
    <li>PHP <p class="tiny">Ahem, again: Wordpress DBs were my specialty.</p></li>
    <li>HTML/CSS<p class="tiny">I think the site should act as some proof.</p></li>
    <li>Javascript <p class="tiny">How do you think I integrated the fade effects?</p></li>
    <li>Wordpress<p class="tiny">Custom plugins and databases are... tricky.</p></li>
    <li>Magento<p class="tiny">See<a href="https://directmachines.com/" target="_blank">Direct Machines</a>for this maddess.</p></li>
    <li>Excel <p class="tiny">You really think I went to business school and didn't excel in this? (pun intended)</p></li>
    <li>Hubspot Certified<p class="tiny">Issued in March 2018 - which means it's totally expired.</p></li>
    <li>Adwords Certified<p class="tiny">Issued in November 2017 - definitely expired by now.</p></li>
</ul>
<p class="tiny">Disclaimer: Most of this was self-taught; any terms and names may not be known by my dumb head.</p>
</div>
<p class="show-more" value="brag">Do you need me to brag?</p><p class="tiny">(Click to see list)</p>

<!-- SKILLS AND CERTS -->    
<div id="brag" class="hidden">
<ul id="brag" class="achievements">
    <li>Launched<p class="tiny">a startup that has exceeded over $1MM in Revenue</p></li>
    <li>Managed<p class="tiny">over $5MM in Procurement and Freight spend for a multi-national cannabis beverage company</p></li>
    <li>Reduced<p class="tiny">freight spend by 40% at Cann while single-handedly running a (now) 4-person supply chain solo for almost a year</p></li>
    <li>Supported<p class="tiny">the launch of over 20 new SKUs into brand new markets with the largest cannabis beverage company</p></li>
    <li>Founded<p class="tiny"> 2 web-based Businesses, with 1 successfully still intact (directmachines.com, built from scratch by myself and a small team with Magento 2)</p></li>
    <li>Expanded<p class="tiny">my family's businesses by getting them over 1MM organic search impressions</p></li>
    <li>Named<p class="tiny">on a legal case halting the implementation of a natural gas pipeline in Virginia due to my natural gas capacity allocation work</p></li> 


</ul>
<p class="tiny">Disclaimer: Most of this was self-taught; any terms and names may not be known by my dumb head.</p>
</div>

</div>



<!-- INTERESTS / HOBBIES -->
<div scrolls scrolls-duration="1200" class="page section custom-full1" id="section5">
<h2>When I am out of working-mode, I enjoy all things music </h2>
<!-- {% load static %}  -->

<p class="show-more" value="band">I play In a band</p>
<div id="band" class="hidden">
    <img src="static/images/jlr.jpeg" class = "fade-out" value="https://www.instagram.com/jimmylazerandtherobots/"/>
    <p><b class = "fade-out" value="https://youtu.be/w1fXXPJ9o0w?t=1046">Jimmy Laser and the Robots</b></p><p class="tiny">I play drums and sing... But Phil Collins would laugh if he watched me play.</p>

</div>



<p class="show-more" value="concerts">I like attending Concerts</p>

<div id="concerts" class="hidden">
    <p>List of Concerts I've attended:</p>
    <ul class="tiny">
        <li>2 Chainz</li>
        <li>A.L.O.</li>
        <li>Andrew McMahon and the Wilderness</li>
        <li>Arctic Monkeys</li>
        <li>Avett Brothers</li>
        <li>Bassnectar</li>
        <li>Beach House</li>
        <li>Big Data</li>
        <li>Big Sean</li>
        <li>Blink-182</li>
        <li>Boston Symphony Orchestra 3x</li>
        <li>Cage the Elephant</li>
        <li>Chain Smokers</li>
        <li>Cheat Codes</li>
        <li>Citizen Cope</li>
        <li>City and Colour</li>
        <li>Coldplay 2x</li>
        <li>Collective Soul</li>
        <li>Crash Kings</li>
        <li>Dave Matthews Band</li>
        <li>Dispatch</li>
        <li>Elbow</li>
        <li>Fitz and the Tantrums</li>
        <li>Fleet Foxes 2x</li>
        <li>Foo Fighters 2x</li>
        <li>Foster the People</li>
        <li>G. Love and the Special Sauce</li>
        <li>Gin Blossoms</li>
        <li>Green Day</li>
        <li>Grouplove</li>
        <li>Guster</li>
        <li>Head and the Heart</li>
        <li>Hey Marsellies </li>
        <li>Imagine Dragons</li>
        <li>Jack Johnson 2x</li>
        <li>Joe Russo's Almost Dead</li>
        <li>John Williams</li>
        <li>Jon Bellion</li>
        <li>Kygo</li>
        <li>Lawrence</li>
        <li>Linkin Park</li>
        <li>Live</li>
        <li>Manchester Orchestra</li>
        <li>Matt and Kim 2x</li>
        <li>MGMT</li>
        <li>Modest Mouse</li>
        <li>My Chemical Romance</li>
        <li>Odesza</li>
        <li>Of Monsters and Men 2x</li>
        <li>OK Go</li>
        <li>Oliver Heldens</li>
        <li>Outkast</li>
        <li>Paul McCartney</li>
        <li>Pendulum</li>
        <li>Phil Collins</li>
        <li>Pigeons Playing Ping Pong</li>
        <li>Pitbull</li>
        <li>Pixies</li>
        <li>Pretty Lights</li>
        <li>Red Hot Chili Peppers</li>
        <li>Roger Waters</li>
        <li>Sam Smith</li>
        <li>Steely Dan</li>
        <li>Steve Aoki</li>
        <li>Sturgill Simpson</li>
        <li>The Fools</li>
        <li>The Killers</li>
        <li>The Mighty Mighty Bosstones</li>
        <li>The Vaccines</li>
        <li>The White Panda</li>
        <li>They Might be Giants</li>
        <li>Third Eye Blind</li>
        <li>Vampire Weekend</li>
        <li>Walk Off the Earth</li>
        <li>Weezer</li>
        <li>Zach Brown Band</li>
        <li>Zedd 2x</li>
    
    </ul><br><br>
    <p class="tiny">First concert I saw was at the age of 12 - Coldplay.</p>
</div>
<p class="show-more" value="countries">Travel is fun, too</p>
<div id="countries" class="hidden">
    <p>List of Countries I've been to:</p>
    <ul class="tiny">
    <li>Bermuda</li>
    <li>Canada</li>
    <li>Costa Rica</li>
    <li>Dominican Republic</li>
    <li>England</li>
    <li>Estonia</li>
    <li>Finland</li>
    <li>France</li>
    <li>Germany</li>
    <li>Italy</li>
    <li>Jamaica</li>
    <li>Mexico</li>
    <li>Northern Ireland</li>
    <li>Poland</li>
    <li>Spain</li>
    <li>Switzerland</li>
    <li>United States</li>
    <li>Vatican City</li>
    </ul><br>
    <p class="tiny fade-in">(Basically, I have a lot to see in both the Eastern and the Southern Hempispheres)</p>
</div>

<p class="show-more" value="people">Here are Kesha songs I like</p>
<div id="people" class="hidden">
    <ul class="tiny">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<p class="tiny fade-in"><br>(Makes for great small talk - click one to learn more)</p>

</div>


<!-- LEARN MORE -->
<div scrolls scrolls-duration="1200" class="section custom-full1" id="section6">

    <img src="static/images/drew_companies.png" class = "about"/>

    <div class="footer">
    <h2>Questions?</h2>
<a href="mailto:appiispanen@gmail.com">Email</a>|<a href="https://www.linkedin.com/in/drew-piispanen" target="none">LinkedIn</a>|<a href="https://github.com/apiispanen" target="none">Github</a>|<a href="blob:https://angel.co/bddeb29f-fa99-402b-a5a8-f3990a078291" target="none">Resume</a><br><br><p class="tiny">And yes, this website was entirely hand-coded by me, Drew Piispanen</p>
</div>

</div>



</body>
<script src="static/scrolls-main/dist/scrolls.min.js" type="text/javascript"></script>
</html>
