@font-face {
  font-family: "Adelle";
  src: url("Adelle/Adelle_Bold.otf") format("opentype");
  src: url("Adelle/Adelle_BoldItalic.otf") format("opentype");
  src: url("Adelle/Adelle_ExtraBold.otf") format("opentype");
  src: url("Adelle/Adelle_ExtraBoldItalic.otf") format("opentype");
  src: url("Adelle/Adelle_Heavy.otf") format("opentype");
  src: url("Adelle/Adelle_HeavyItalic.otf") format("opentype");
  src: url("Adelle/Adelle_Italic.otf") format("opentype");
  src: url("Adelle/Adelle_light.otf") format("opentype");
  src: url("Adelle/Adelle_LightItalic.otf") format("opentype");
  src: url("Adelle/Adelle_Reg.otf") format("opentype");
  src: url("Adelle/Adelle_SemiBold.otf") format("opentype");
  src: url("Adelle/Adelle_SemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Adelle Reg";
  src: url("Adelle/Adelle_Italic.otf") format("opentype");
  src: url("Adelle/Adelle_light.otf") format("opentype");
  src: url("Adelle/Adelle_LightItalic.otf") format("opentype");
  src: url("Adelle/Adelle_Reg.otf") format("opentype");

}


body {
    background: white no-repeat;
    margin-left:20%;
    margin-right:20%;
    /* padding-top: 200px; */
    /* min-height: 100pc; */
}

* {
    color: rgba(48, 50, 46, 0.80);
    text-decoration: none;
    text-align: center;
    list-style: none;
  
    position:relative;
    font-family: "Adelle Reg";
}

p, div, h1, h2, .footer * {
  font-size: 24px;
    padding:20px;
}

html *{
  overflow: hidden; /* Hide scrollbars */
}

img {
  height:150px
  }

ul.tiny li{
  display: inline-block;
}

h1,h2,h3,h4{
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 0px;
}

.tiny, .tiny *{
  font-size:10px;
  text-transform: lowercase;
  /* font-weight: bold; */
  padding:1px;
  text-align: center;
  display: inline;

}

ul *{
  text-align: left;
  padding:1px;
  text-align: center;
  display: inline;
}


.fade-in {
    animation: fadeIn 2s;
}
.slow-fade {
  animation: fadeIn 20s;
}
.hidden{
  display: none;
  background-color: rgba(98, 0, 255, 0.025);
  margin-top:-12px;
  max-height: 30%;
  /* position:absolute;
  left:0vh;
  z-index: 100;
  height:100% */
}
.hidden p{
  font-size: 14px;
  padding:0px
}
.hidden img{
  height:80px
}

.achievements{
  padding-bottom:200px;
  text-align: center;
}
.achievements li{
  display:block;
  text-align: left;
  margin-left:10%;
}
.achievements li p.tiny{
width:60px;
text-align: right;
padding-left:20px
}
.description {
  padding:0px;
  padding-left:40px;
  /* float:right; */
  display: inline;
  /* white-space:nowrap; */
}
.about{
  /* display: block; */
  max-width:100%;

  width: auto;
  height: auto;
  padding:0;
  margin:0;
  padding-bottom:20vh;
  text-align: center;
  float:center
}
.year{
font-weight: bold;
display: inline;
padding-right:20px;
margin:0px

}
.show-more{
  padding: 0px;
  margin-bottom: 0px;
  color:rgba(0, 0, 0, 0.685);
}



.fade-in-section {
  opacity: 0;
  /* transform: translateY(20vh); */
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.page, .section{
  height:100%;
  /* max-height:400px; */
  margin: 0;
  position: relative;
  top: 25%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%);  */

} 
  
.footer{
  padding:0;
  margin:0;
  bottom:20vh;
  text-align: center;
  float:center
}



/*END Manual inputs */

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0);
  border-radius: 3px;
}
body:hover::-webkit-scrollbar-thumb {
  background: rgba(242, 242, 242, 1);
}
body.scrolling::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal:hover, 
::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(153, 153, 153, 1);
}
::-webkit-scrollbar-thumb:horizontal:active,
::-webkit-scrollbar-thumb:vertical:active {   
  background: rgba(153, 153, 153, 1);
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeDown {
0%   {opacity:1; top:0px;}
25%  {opacity:0.75; top:50px; }
50%  {opacity:0.5; top:100px; }
75%  {opacity:0.25; top:150px; }
100% {opacity:0; top:200px; }
}

@keyframes fadeOut {
0%   {opacity:1; right:0px;}
25%  {opacity:0.75; right:50px; }
50%  {opacity:0.5; right:100px; }
75%  {opacity:0.25; right:150px; }
100% {opacity:0; right:200px; }
}

/* THIS IS ALL ADDED TO BLOCK SLIDER BELOW */

.tableCell{
	display:table-cell;
	vertical-align: middle;
	width:100%;
	height: 100%;
}